@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap");
@import url("https://fonts.cdnfonts.com/css/friz-quadrata-std");
html {
  background-color: black;
  padding: 0;
}

.specHeader {
  text-align: left;
  padding-top: 15px;
}

body {
  padding: 0;
  margin: 0;
}

.landingPageHeader {
}

.bisIcon {
  width: 2.9rem;
  height: 2.9rem;
}

.itemSquare {
  font-size: 10px;
  width: 3rem;
  height: 3rem;
  max-width: 100px;
  max-height: 100px;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.301);
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.blank {
  border: 1px solid rgba(255, 255, 255, 0);
  width: 3rem;
  height: 3rem;
  max-width: 100px;
  max-height: 100px;

  /* margin: 5px; */
}

.Common {
  border: 4px solid #ffffff;
  box-shadow: 0px 0px 10px #ffffff;
}

.Uncommon {
  border: 4px solid #1eff00;
  box-shadow: 0px 0px 10px #1eff00;
}

.Rare {
  border: 4px solid #0070dd;
  box-shadow: 0px 0px 10px #0070dd;
}

.Legendary {
  border: 4px solid #0070dd;
  box-shadow: 0px 0px 10px #0070dd;
}

.Epic {
  border: 4px solid #a335ee;
  box-shadow: 0px 0px 10px #a335ee;
}

#leftCol {
  background-color: red !important;
  margin: 0 !important;
  padding: 0 !important;
  height: calc(100vh - 100px);
}

.colShorten {
  max-height: 500px;
  margin: 0 !important;
  padding: 0 !important;
}

.enchant {
  /* border: 1px solid rgba(255, 255, 255, 0.596); */
  width: 2rem;
  height: 2rem;
  max-width: 100px;
  max-height: 100px;
  position: absolute;
  left: 27%;
  /* border: 4px solid white; */

  margin: 3px auto;
}

.enchantRight {
  /* border: 1px solid rgba(255, 255, 255, 0.596); */
  width: 2rem;
  height: 2rem;
  max-width: 100px;
  max-height: 100px;
  position: relative;
  right: 35%;
  margin: 3px auto;
}

.enchantIcon {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0;
  padding: 0;
}
.enchantAbove {
  /* border: 1px solid rgba(255, 255, 255, 0.596); */
  width: 1rem;
  height: 1rem;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.specBtn {
  background-color: rgba(27, 27, 27, 0.466) !important;
  border: 1px solid black;
  height: 2rem;
  width: 8rem;
  margin: 2px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.specBtn:hover {
  border: 1px solid rgb(201, 195, 195);
}

.rightSquare {
  position: relative;
  right: 50%;
}

.specActive {
  border: 1px solid white;
}

.phaseBtn {
  background-color: rgba(0, 0, 0, 0.74);
  border: 1px solid rgba(255, 255, 255, 0.178);
  color: white;
  margin: auto;
  width: 2rem;
  font-size: 22px;
}

.phaseBtn:hover {
  background-color: rgb(61, 61, 61);
  border: 1px solid rgba(255, 255, 255, 0.945);
  color: white;
  margin: auto;
}

.specBtn:active,
.specBtn:focus,
.specBtn:target {
  border: 1px solid rgb(201, 195, 195);
  box-shadow: 0px 0px 22px rgb(255, 255, 255) inset;
}

.App {
  text-align: center;
  background-color: #424242;
  background-image: url("../src/assets/nefarian-image.jpg");

  /* background-image: url("../src/assets/ragnaros.jpg");
  background-image: url("../src/assets/hakkar.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#priestButton:hover {
  /* background-image: url("./assets/icon-priest.webp");
  background-repeat: none;
  background-size: cover;
  background-position: center; */
}

/* #warriorButton:hover {
  background-color: rgba(44, 24, 0, 0.473);
  text-shadow: 0px 10px 10 rgb(0, 0, 0) !important;
}

#hunterButton:hover {
  background-color: rgba(10, 44, 0, 0.473);
  text-shadow: 0px 10px 10 rgb(0, 0, 0) !important;
} */

#priestButton:hover {
  border: 2px solid rgb(255, 255, 255);

  box-shadow: 0px 0px 65px rgb(255, 255, 255) inset;
  text-shadow: 0px 0px 5px rgb(0, 0, 0) !important;
}

#warriorButton:hover {
  border: 2px solid rgb(44, 24, 0);
  box-shadow: 0px 0px 65px rgb(94, 51, 0) inset;
  text-shadow: 0px 10px 50px rgb(0, 0, 0) !important;
}

#hunterButton:hover {
  border: 2px solid rgb(46, 102, 0);
  box-shadow: 0px 0px 65px rgb(69, 153, 0) inset;
  text-shadow: 0px 10px 50px rgb(0, 0, 0) !important;
}

#rogueButton:hover {
  border: 2px solid rgb(255, 230, 0);
  box-shadow: 0px 0px 65px inset rgb(255, 230, 0);
  text-shadow: 0px 10px 50px rgb(0, 0, 0) !important;
}

#mageButton:hover {
  border: 2px solid rgb(0, 183, 255);
  box-shadow: 0px 0px 65px inset rgb(0, 183, 255);
  text-shadow: 0px 10px 50px rgb(0, 0, 0) !important;
}

#druidButton:hover {
  border: 2px solid rgb(255, 145, 0);
  box-shadow: 0px 0px 65px inset rgb(255, 145, 0);
  text-shadow: 0px 10px 50px rgb(0, 0, 0) !important;
}

#paladinButton:hover {
  border: 2px solid rgb(245, 139, 255);
  box-shadow: 0px 0px 65px inset rgb(245, 139, 255);
  text-shadow: 0px 10px 100px rgb(0, 0, 0) !important;
}

#warlockButton:hover {
  border: 2px solid rgb(134, 0, 146);
  box-shadow: 0px 0px 65px inset rgb(156, 0, 170);
  text-shadow: 0px 10px 50px rgb(0, 0, 0) !important;
}
.container-search {
  max-width: 500px;
  margin: 50px auto;
}

.backgroundOverlay {
  background-color: rgba(0, 0, 0, 0.76);
  border: 1px solid rgba(255, 255, 255, 0.418);

  width: 75vw;
  max-width: 1000px;
  padding: 50px;
  box-shadow: 4px 4px 20px rgb(172, 172, 172);
  padding: 15px 60px;
  display: inline-block;

  background: rgba(0, 0, 0, 0.137);
  box-shadow: 0 8px 900px rgb(0, 0, 0) inset;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 1px;
  text-shadow: 0px 0px 4px black;
  border: 1px solid rgba(255, 255, 255, 0.308);
  padding-bottom: 55px;
  margin: 0;
  overflow: hidden;
}

#wowLogo {
  max-width: 320px;
  width: 90%;
}

/* .topRow {
  padding: 255 !important;
} */

.buttonRow {
  margin: 10px;
}

h1,
h2,
h3,
h4,
h5,
p {
  /* font-family: "Source Sans Pro", sans-serif; */
  font-family: "Friz Quadrata Std", sans-serif;
  font-weight: 400;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.itemDiv {
  background-color: rgba(0, 0, 0, 0.336);
  border: 1px solid rgba(255, 255, 255, 0.452);
  padding: 10px;
  /* margin: 4px;
  padding: 5px;
  width: 100px; */
  min-height: 66px;
  font-size: 18px;
  font-size: 1.4rem;
  border-radius: 0px !important;
  color: white;
  padding: 18px 0;
  border: 2px solid rgba(255, 255, 255, 0.377);
  text-align: center;
}

.itemDiv:hover {
  /* border: 1px solid rgb(255, 255, 255); */

  background-color: rgba(34, 34, 34, 0.13);
  /* text-shadow: 1px 1px 10px rgb(153, 0, 255); */
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* animation: fadeIn 1.5s; */
}

ul {
  line-height: 25px;
}

#imageHeader {
  padding: 50px;
  height: 45vh;
  min-height: 45vh;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.788);
  border: 1px solid rgba(255, 255, 255, 0.116);
  border-radius: 2px;
  box-shadow: 0px 0px 10px black;
}

#headline {
  font-size: 12px !important;
  animation: fadeIn 2s;
  animation-delay: 20s;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 944px) {
  .rightSquare {
    position: relative;
    left: 8%;
  }

  .specHeader {
    text-align: center;
  }
}

@media screen and (max-width: 502px) {
  .itemSquare,
  .blank,
  .enchant {
    /* background-color: lightgreen; */
    margin: 0;
  }
  .specHeader {
    text-align: center;
  }

  .backgroundOverlay {
    padding: 0 !important;
    margin: 0 !important;
    /* background-color: red !important;
    width: 100% !important; */
    width: 99% !important;
  }
  .row {
    padding: 0;
    margin: 0;
  }
}
